@import "functions";
@import "variables";
@import "compass";
@mixin body(){
  body{
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    color:$tc;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    height: 100%;
  }
  html{
    height:100%;
  }

  a{
    color:$mc;

    &:hover,&:focus,&:active{
      text-decoration: none;
      outline:0;

    }

    
  }
  p{
    margin:0.5em 0;
    line-height: 1.5;
    font-family: $ff;
  }
  .info{
    font-style: italic;
    font-size: 0.9em;
    color:lighten($tc,10%);
  }
  em{
    font-weight: bold;
  }
}
@mixin form(){
  .errors{
    display:block;
    background-color: $errorBackground;
    padding:1em;
    border:1px solid red;
    margin:1em;
  }
  .informations{
    display:block;
    box-sizing:border-box;
    font-size: 0.8em;
    background-color: $infosBackground;
    padding:1em;
    @include c(12);
    border:1px solid darken(yellow,10%);
    margin-bottom: 0.5em;
  } 
  .success{
    display:block;
    font-size: 0.8em;
    background-color: $succesBackground;
    padding:1em;
    border:1px solid green;
    margin:1em;
  }
}
@mixin table(){
  table{
    background-color: $mc;
    color:white;
    text-align: center;
    display:inline-block;
    margin: auto;
    @include border-radius(1em 1em);
    a{
      color:white;
      text-decoration: none;
    }
    thead{
      @include border-radius(1em 1em);
      display:inline-block;
      tr{

      }
    }
    tbody{

    }
    th{
      min-width:  100px;
      min-height:80px;  
      font-size: 1.1em;
      font-weight: bold;
      padding:0.5em;
      border-left: 0;
      text-align: center;
      a{

      }
    }
    th + th{
      border-left: 1px solid white;
    }
    tr{

    }
    tr.impair{
      td{
        background-color: $greyL;
        &:hover{
          background-color: lighten($mc,10%);
          color:white;
        }
      }

    }
    td{
      padding:0.5em;
      background-color: white;
      color:$tc;
      border-left: 0;
      min-height: 40px;
      text-align: center;
      min-width: 100px;
      &:hover{
        background-color: lighten($mc,10%);
        color:white;
      }
      a{
        color:$tc;
        text-decoration: underline;
      }
    }
    td + td {
      border-left: 1px solid $mc;
    }

  }
}
@mixin img(){
  img{
    max-width:100%;
    margin:0.5em 0;
  }
}

@mixin container{
  .container{
    width:100%;
    
    margin-bottom: 0;
  }
}
@mixin wrapper(){
  .wrapper{
    height:100%;
    overflow:hidden;
    margin: auto;
    box-sizing:border-box;
    @include c(12);
    max-width: $mw;
    padding: 0 $gutter;
    position:relative;
    /* margin-bottom: 1em; */
    &:after{
      @include clear();
    }
  }
}
@mixin article(){
  article,.article{
    padding-bottom: 2em;
    margin-bottom: 1em;
    border-bottom: 1px solid $greyL2;
    position:relative;
  }
  h1,h2,h3,h4{
    text-align: center;
  }
}
@mixin heading(){
  h1,h2,h3,h4,h5,h6{
    line-height: ($lh/100)*50;
    font-weight: bold;
    padding-bottom: 0.2em;
    margin-bottom: 0;
    margin-top: 0;
  }
  .underTitle{
    font-size: 15px;
    letter-spacing: 0;
    display:block;
    text-align: center;
    margin: auto;

  }
  .logo{
    h1,h2,h3{
      margin-bottom: 0;
      padding-bottom: 0.1em;

      a{
        text-decoration: none;
        font-size: 5em;
        &:hover,&:focus{
          text-decoration: none;
          color: darken($mc,10%);
        }
      }
    }
  }
  h1{
    font-size:3.142em;
    a{
      font-size:3.142em;
    }

  }
  h2{
    font-size: 2.618em;
    a{
      font-size: 2.618em;
    }
  }
  h3{
    font-size: 1.942em;
    a{
      font-size: 1.942em;
    }
  }
  h4{
   font-size: 1.618em; 
   a{
     font-size: 1.618em;
   }
 }
 h5{
  font-size: 1.2em;
  a{
   font-size: 1.2em;
 }
}
h6{
  font-size: 1.1em;
  a{
   font-size: 1.1em;
 }
}
.logo{
  margin:0 0 1em 0;
  border-bottom: 0;
}

@media (max-width: $m1){
 h1{
  font-size:2.805em;
  
}
h2{
  font-size: 2.618em;
  
}
h3{
  font-size: 1.734em;
  
}
h4{
 font-size: 1.618em; 
}
h5{
  font-size: 1.2em;
}
h6{
  font-size: 1.1em;
}

}
}
@mixin section(){
  .section{
    display:inline-block;
    position:absolute;
    height:0;
    text-indent: -99999999px;
    border:none;
    padding:0;
    margin:0;
  }
  .reader{
    display:inline-block;
    position:absolute;
    height:0;
    text-indent: -99999999px;
    border:none;
  }
  .hide{
    display:none!important; 
  }
}
@mixin breadcrumbs(){
  .breadcrumbs{
   background-color: $greyL;
   padding:0.2em 0;
   //border:1px dotted $grey;

   @include c(12);
   margin:0.5em auto;
 }
}
@mixin label(){
  form{
    label{
      padding:10px 2px;
      margin:0.25em 0;
      display:inline-block;
    }
  }
}
@mixin abs(){
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
}
@mixin abs-bot(){
  position:absolute;
  left:0;
  right:0;
  //top:0;
  bottom:0;
  margin: auto;
}
@mixin abs-top(){
  position:absolute;
  left:0;
  right:0;
  top:0;
  //bottom:0;
  margin: auto;
}
@mixin input(){
  form{
    display:inline-block;
    width:100%;
  }
  input,textarea{
    display:inline-block;
  //@include border-radius(3px);
  border:1px solid $greyL2;
  background-color: $greyL;
  padding:2px 1em;
  margin:10px 10px 10px 0;
  height:40px;
  //float:left;
  margin-left: 0.5em;
  box-sizing: border-box;
  &:hover{
    border:1px solid lighten($mc,10%);
    outline:none;
    background-color: #FFF;
    @include box-shadow(lighten($mc,10%) 0 0 2px 1px);
  }
  &:focus{
    border:1px solid $mc;
    outline:none;
    background-color: #FFF;
    @include box-shadow($mc 0 0 2px 1px);
  }
  &:hover  label{
    background-color: red;
  }
}
@media(max-width: $m1){
 input{
  width:auto;
  display:block;
}
}
}
@mixin btn(){
  .btn,input[type=submit],button{
    color:white;
    text-align: center;
    background-color:$mc;
    padding:6px 12px;
    border:none;
    margin:5px 0;
    display:inline-block;
    text-decoration: none;
    font-family: $ff2;
    line-height: $lh / 2 ;
    //@include border-radius(3px);
    box-sizing:border-box;
  //  vertical-align: middle;
   // height:auto;
   cursor:pointer;
   &:hover{
    @include box-shadow(lighten($mc,10%) 0 0 2px 1px);
    background-color:darken($mc,5%);
    border:none;
  } 
  &:focus{
    @include box-shadow($mc 0 0 2px 1px);
    background-color:darken($mc,10%);
    border:none;
  }
  &:visited{
    color:rgba(255,255,255,0.9);
  }
  a{
    color:white;
    font-weight: bold;
    text-decoration: none;
    border:none;
    &:hover{
      border:none;
      background-color: transparent;
    }
    &:visited{
      color:rgba(255,255,255,0.8);
    }
  }
}
input[type=search] ~ input[type=submit]{
  text-indent: -99999px;
    //width:40px;
    background-image: url('../img/framework/icon/search.png');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;

  }
}
@mixin btn2(){
  .btn2,input[type=submit],button{
    color:white;
    text-align: center;
    background-color:$mc;
    padding:3px 6px;
    border:none;
    margin: 0;
    display:block;
    width:100%;
    text-decoration: none;
    //@include border-radius(3px);
    box-sizing:border-box;
  //  vertical-align: middle;
   // height:auto;
   cursor:pointer;
   &:hover{
    @include box-shadow(lighten($mc,10%) 0 0 2px 1px);
    background-color:darken($mc,5%);
    border:none;
  } 
  &:focus{
    @include box-shadow($mc 0 0 2px 1px);
    background-color:darken($mc,10%);
    border:none;
  }
  &:visited{
    color:rgba(255,255,255,0.9);
  }
  a{
    color:white;
    font-weight: bold;
    text-decoration: none;
    border:none;
    &:hover{
      border:none;
      background-color: transparent;
    }
    &:visited{
      color:rgba(255,255,255,0.8);
    }
  }
}
input[type=search] ~ input[type=submit]{
  text-indent: -99999px;
    //width:40px;
    background-image: url('../img/framework/icon/search.png');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;

  }
  .btn2-ok{
    @extend .btn2;
    background-color: $succesBackground;
  }
}
@mixin btn-gradient(){
  .btn,input[type=submit],button{
    color:white;
    text-align: center;
    background-image:-webkit-linear-gradient(top, $mc, darken($mc,5%));
    padding:6px 12px;
    border:none;
    margin:5px 0;
    display:inline-block;

    text-decoration: none;
    //@include border-radius(3px);
    box-sizing:border-box;
  //  vertical-align: middle;
   // height:auto;
   cursor:pointer;
   &:hover{
    @include box-shadow(lighten($mc,10%) 0 0 2px 1px);
    background-color:darken($mc,5%);
    background-image:-webkit-linear-gradient(top, darken($mc,10%), darken($mc,5%));
    border:none;
  } 
  &:focus{
    @include box-shadow($mc 0 0 2px 1px);
    background-color:darken($mc,10%);
    border:none;
  }
  &:visited{
    color:rgba(255,255,255,0.9);
  }
  a{
    color:white;
    font-weight: bold;
    text-decoration: none;
    border:none;
    &:hover{
      border:none;
      background-color: transparent;
    }
    &:visited{
      color:rgba(255,255,255,0.8);
    }
  }
}
input[type=search] ~ input[type=submit]{
  text-indent: -99999px;
    //width:40px;
    background-image: url('../img/framework/icon/search.png');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;

  }
}
@mixin mhb-p($height,$item){
  background-color: $grey;
  background:linear-gradient(to bottom,#efefef 0,#cdcdcd 100%);
  color:white;
  position:fixed;
  width:100%;
  box-sizing: border-box;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  height:$height+px;
  outline:1px solid $grey;
  ul{
    width:100%;
    height:$height+px;
    text-align: center;
    padding:0;
    margin:auto;
    li,ol{
      width:(100% / $item) - 2%;
      display:inline-block;
      height:100%;
      vertical-align: baseline;
      border-left:1px solid $grey;

      //position:relative;
      a{
        display:block;
        //height:100%;
        //padding-top:8px;
        height:auto;
        text-decoration: none;
        color:white;
        font-weight: bold;
        box-sizing: border-box;
        border-top: 5px solid #efefef;
        &:hover , &:focus{
         // background-color: darken($greyDH,2%);
         box-sizing: border-box;
         border-top: 5px solid darken($greyDH,20%);
         outline:none;
       }
     }
   }
   li:first-child,ol:first-child{
     border-left:0;
   }
   li+li,ol+ol{
      //margin-left: 1%;
    }
  }
}
@mixin clear(){
 content: "";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
@mixin c( $nNumber ) {

  width: colAlone( $nNumber );
  margin: auto;
  //margin-left: 0;
  display:block;
  float:none; 
  box-sizing:border-box;

  &:after{
    @include clear();
  }
}
@mixin cf( $nNumber ) {

  width: col( $nNumber );
  display:block;
  float:none;
  box-sizing:border-box;
  margin:0;
  &:after{
    @include clear();
  }
}

@mixin cl( $nNumber ) {

  width: col( $nNumber );
  margin-left: gutter();
  float:left;
  display:block;
  box-sizing:border-box;
  &:after{
    @include clear();
  }
}
@mixin offsetL( $nNumber ) {

  margin-left: col( $nNumber );
}
@mixin offsetR( $nNumber ) {

  margin-right: col( $nNumber );
}
@mixin cfl( $nNumber ) {

  width: colf( $nNumber );
  float:left;
  display:block;
  box-sizing:border-box;
  margin:0;
  &:after{
    @include clear();
  }
}

@mixin cr( $nNumber ) {

  width: col( $nNumber );
  margin-left: gutter();
  float:right;
  display:block;
  box-sizing:border-box;
  &:after{
    @include clear();
  }
}
@mixin cfr( $nNumber ) {

  width: col( $nNumber );
  float:right;
  display:block;
  box-sizing:border-box;
  &:after{
    @include clear();
  }
}

@mixin cc( $nNumber ) {
  display:block;
  width: col( $nNumber );
  margin: auto;
  text-align: center;
  float:none;
  box-sizing:border-box;
  &:after{
    @include clear();
  }
}
/*l * 100 / 1024*/
